@mixin swing-animation($name, $origindeg) {
  @keyframes #{$name} {
    20% {
      transform: rotate3d(0, 0, 1, 6deg);
    }
  
    40% {
      transform: rotate3d(0, 0, 1, -6deg);
    }
  
    60% {
      transform: rotate3d(0, 0, 1, 5deg);
    }
  
    80% {
      transform: rotate3d(0, 0, 1, -5deg);
    }
  
    100% {
      transform: rotate3d(0, 0, 1, $origindeg);
    }
  }
}

.clothesline {
  position: relative;
  width: 110%;
  height: 150px;
  margin: 0 -50px;
  border-style: solid;
  border-width: 5px;
  border-color: transparent transparent $sage transparent;
  border-radius: 0 0 80% 80%;
}

.polaroid {
  @include link-overrides($gray-text, $davys-gray);

  position: absolute;
  display: grid;
  grid-template-rows: 225px 1fr;
  grid-gap: 5px;
  justify-items: center;
  width: 230px;
  height: 280px;
  background-color: #fff;
  transform-origin: top center;

  &::before {
    content: "";
    position: absolute;
    left: 45%;
    top: -70px;
    height: 100px;
    width: 20px;
    background-size: cover;
    box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.4);
  }

  &:nth-child(1) {
    @include swing-animation(swing-1, 4deg);

    top: 155px;
    left: 20%;
    transform: rotate3d(0, 0, 1, 4deg);

    &::before {
      background-image: url("../images/clothespinLightBlue.png");
    }

    &:hover {
      animation: swing-1 1s linear;
    }
  }

  &:nth-child(2) {
    @include swing-animation(swing-2, 0deg);

    top: 160px;
    left: 42%;

    &::before {
      background-image: url("../images/clothespinRed.png");
    }

    &:hover {
      animation: swing-2 1s linear;
    }
  }

  &:nth-child(3) {
    @include swing-animation(swing-3, -4deg);

    top: 155px;
    left: 63%;
    transform: rotate3d(0, 0, 1, -4deg);

    &::before {
      background-image: url("../images/clothespinGreen.png");
    }

    &:hover {
      animation: swing-3 1s linear;
    }
  }

  &:hover {
    cursor: pointer;

    .photo {
      border-color: $davys-gray;
    }

    .label {
      color: $davys-gray;
    }
  }

  .photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
    margin-top: 5px;
    border: 1px solid $platinum;
    overflow: hidden;

    img {
      height: 220px;
      width: auto;

      &.moving {
        display: none;
      }
    }
  }

  .label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    text-align: center;
    font-family: "Nanum Pen Script";
    font-size: 20px;
    font-weight: bold;
  }
}

