@mixin swing-animation($name, $origindeg) {
  @keyframes #{$name} {
    20% {
      transform: rotate3d(0, 0, 1, 6deg);
    }
  
    40% {
      transform: rotate3d(0, 0, 1, -6deg);
    }
  
    60% {
      transform: rotate3d(0, 0, 1, 5deg);
    }
  
    80% {
      transform: rotate3d(0, 0, 1, -5deg);
    }
  
    100% {
      transform: rotate3d(0, 0, 1, $origindeg);
    }
  }
}

@mixin clothesline-border {
  border-style: solid;
  border-width: 5px;
  border-color: transparent transparent $sage transparent;
  border-radius: 0 0 80% 80%;
}

.clothesline {
  @include clothesline-border();
  position: relative;
  width: 110%;
  height: 150px;
  margin: 0 -50px;


  @include media-max(1000px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    border: none;
  }
}

.polaroid-wrapper {
  position: absolute;

  @include media-max(1000px) {
    position: relative;
    margin: 50px 0;

    &::before {
      @include clothesline-border();
      content: "";
      position: absolute;
      top: -120px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      width: 600%;
      left: -250%;
    }
  }

  &:nth-child(1) {
    @include media-min(1000px) {
      top: 155px;
      left: 18%;
    }

    .polaroid {
      &::before {
        background-image: url("../images/clothespinLightBlue.png");
      }

      @include media-min(1000px) {
        @include swing-animation(swing-plus5, 5deg);

        transform: rotate3d(0, 0, 1, 5deg);
        
        &:hover {
          animation-name: swing-plus5 
        }
      }
    }
  }

  &:nth-child(2) {
    @include media-min(1000px) {
      top: 160px;
      left: 42%;
    }

    .polaroid {  
      &::before {
        background-image: url("../images/clothespinRed.png");
      }
    }
  }

  &:nth-child(3) {
    @include media-min(1000px) {
      top: 155px;
      left: 65%;
    }

    .polaroid {  
      &::before {
        background-image: url("../images/clothespinGreen.png");
      }

      @include media-min(1000px) {
        @include swing-animation(swing-minus5, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);

        &:hover {
          animation-name: swing-minus5 
        }
      }
    }
  }
}

.polaroid {
  @include link-overrides($gray-text, $davys-gray);

  display: grid;
  grid-template-rows: 225px 1fr;
  grid-gap: 5px;
  justify-items: center;
  width: 230px;
  height: 280px;
  background-color: #fff;
  transform-origin: top center;
  transform: rotate3d(0, 0, 1, 0deg);

  &::before {
    content: "";
    position: absolute;
    left: 45%;
    top: -70px;
    height: 100px;
    width: 20px;
    background-size: cover;
    box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.4);
  }

  &:hover {
    @include swing-animation(swing-0, 0deg);

    cursor: pointer;
    animation-name: swing-0;
    animation-duration: 1s;
    animation-timing-function: linear;

    .photo {
      border-color: $davys-gray;
    }

    .label {
      color: $davys-gray;
    }
  }

  .photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
    margin-top: 5px;
    overflow: hidden;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);

    img {
      height: 220px;
      width: auto;
      z-index: -1;

      &.moving {
        display: none;
      }
    }
  }

  .label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    text-align: center;
    font-family: "Nanum Pen Script";
    font-size: 20px;
    font-weight: bold;
  }
}

