.instagram-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  grid-gap: 5px;
  width: 250px;
  min-height: 500px;
  padding: 5px;
  background-color: $platinum;

  @include media-min(560px) {
    width: 495px
  }

  @include media-min(750px) {
    width:740px;
  }

  @include media-min(1175px) {
    grid-template-columns: repeat(auto-fit, 280px);
    width: 1145px;
  }

  .loading {
    position: absolute;
    top: 45%;
    left: 45%;
    color: $wild-blue-yonder;
  }

  .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    width:  280px;
    overflow: hidden;
    opacity: 0;

    @include media-max(750px) {
      &:nth-child(n+7) {
        display: none;
      }
    }
  
    @include media-max(1175px) {
      height: 240px;
      width: 240px;

      &:nth-child(n+10) {
        display: none;
      }
    }

    a {
      line-height: 0;
    }

    img {
      max-width: 240px;
      height: auto;

      @include media-min(1175px) {
        max-width: 280px;
      }
    }
  }
}

// new
$photoSize: 240;

.insta-polaroid-header {
  position: relative;
  padding: 15px 30px;
  background-color: #fff;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 60px;
  font-family: "Nanum Pen Script";
  font-weight: bold;
  box-shadow: $default-box-shadow;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    right: 50%;
    transform: translate(50%,-50%);
    height: 30px;
    width: 100px;
    background-image: url("../images/washi/washi1.png");
    background-size: cover;
    box-shadow: $default-box-shadow;
  }
}

.insta-polaroid-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  row-gap: 80px;
  width: 100%;
  padding-bottom: 25px;
}

.insta-polaroid {
  @include polaroid($photoSize, 0.5);
  box-shadow: $default-box-shadow;

  &::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 100px;
    background-size: cover;
    box-shadow: $default-box-shadow;
  }

  &.tape-right {
    transform: rotate(3deg);

    &::before {
      top: -5px;
      left: -20px;
      transform: rotate(-20deg);
    }
  }

  &.tape-center {
    &::before {
      top: -15px;
    }
  }

  &.tape-left {
    transform: rotate(-5deg);

    &::before {
      top: -5px;
      left: 175px;
      transform: rotate(30deg);
    }
  }

  @for $i from 1 through 21 {
    &.washi-#{$i} {
      &::before {
        background-image: url("../images/washi/washi#{$i}.png");
      }
    }
  }

  .label {
    width: 230px;
  }

  img {
    max-width: #{$photoSize}px;
    height: auto;
  }
}