$photoSize: 240;

.insta-polaroid-header {
  position: relative;
  padding: 15px 30px;
  background-color: #fff;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 65px;
  font-family: "Nanum Pen Script";
  font-weight: bold;
  box-shadow: $default-box-shadow;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    right: 50%;
    transform: translate(50%,-50%);
    height: 30px;
    width: 100px;
    background-image: url("../images/washi/washi1.png");
    background-size: cover;
    box-shadow: $default-box-shadow;
  }
}

.insta-polaroid-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  row-gap: 80px;
  column-gap: 15px;
  width: 100%;
  min-height: 400px;
  padding: 0 25px 25px;
}

.insta-polaroid {
  @include polaroid($photoSize, 0.5);
  box-shadow: $default-box-shadow;

  &::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 100px;
    background-size: cover;
    box-shadow: $default-box-shadow;
  }

  &.loading {
    .photo {
      &::before {
        @include pseudo-icon("\f083");
        font-size: 40px;
        opacity: 0.2;
        animation: fade-in-fade-out 3s linear infinite;
      }
    }
  }

  &.tape-right {
    transform: rotate(3deg);

    &::before {
      top: -5px;
      left: -20px;
      transform: rotate(-20deg);
    }

    &:hover {
      transform: rotate(3deg) scale(1.02);
    }
  }

  &.tape-center {
    &::before {
      top: -15px;
    }

    &:hover {
      transform: scale(1.02);
    }
  }

  &.tape-left {
    transform: rotate(-5deg);

    &::before {
      top: -5px;
      left: 175px;
      transform: rotate(30deg);
    }

    &:hover {
      transform: rotate(-5deg) scale(1.02);
    }
  }

  @for $i from 1 through 21 {
    &.washi-#{$i} {
      &::before {
        background-image: url("../images/washi/washi#{$i}.png");
      }
    }
  }

  .label {
    width: 230px;
  }

  img {
    max-width: #{$photoSize}px;
    height: auto;
    opacity: 0;
  }
}

@keyframes fade-in-fade-out {
  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.8
  }

  75% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.2;
  }
}