.instagram-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  grid-gap: 5px;
  width: 250px;
  min-height: 500px;
  padding: 5px;
  background-color: $platinum;

  @include media-min(560px) {
    width: 495px
  }

  @include media-min(750px) {
    width:740px;
  }

  @include media-min(1175px) {
    grid-template-columns: repeat(auto-fit, 280px);
    width: 1145px;
  }

  .loading {
    position: absolute;
    top: 45%;
    left: 45%;
    color: $wild-blue-yonder;
  }

  .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    width:  280px;
    overflow: hidden;
    opacity: 0;

    @include media-max(750px) {
      &:nth-child(n+7) {
        display: none;
      }
    }
  
    @include media-max(1175px) {
      height: 240px;
      width: 240px;

      &:nth-child(n+10) {
        display: none;
      }
    }

    a {
      line-height: 0;
    }

    img {
      max-width: 240px;
      height: auto;

      @include media-min(1175px) {
        max-width: 280px;
      }
    }
  }
}

// new
$photoSize: 240;

.insta-polaroid-container {
  position: relative;
}

.insta-polaroid {
  @include polaroid($photoSize, 0.5);

  &::before {
    content: "";
    position: absolute;
    background-image: url("../images/washi/washi1.png");
    height: 30px;
    width: 100px;
    background-size: cover;
    box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.4);
  }

  img {
    max-width: #{$photoSize}px;
    height: auto;
  }
}