@mixin media-min($min-width) {
    @media screen and (min-width: $min-width) {
        @content;
    }
}

@mixin media-max($max-width) {
    @media screen and (max-width: $max-width) {
        @content;
    }
}

@mixin link-overrides($color, $hover-color) {
    color: $color;
    text-decoration: none;
  
    &:active,
    &:focus {
      color: $color;
      text-decoration: none;
    }
  
    &:hover {
      color: $hover-color;
      text-decoration: none;
    }
  }